/*
filthy blue rgb(32, 20, 182)
filthy Covenant yellow rgb(237, 160, 11)
*/

@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: rgb(32, 32, 32);
    color: rgb(255, 255, 255);
}

h1, h2, h3, h4, h5, h6, a, p {
    margin: 0;
    padding: 0;
    font-family: 'IM Fell English SC', serif;
}

a {
    text-decoration: none;
    color: rgb(237, 160, 11); /* filthy Covenant yellow */
}

.link {
    display: inline;
    position: relative;
    overflow: hidden;
}

.link:active::after,
.link:focus::after,
.link:hover::after {
    left: 0;
    right: auto;
    width: 100%;
}

.link::after {
    content: "";
    position: absolute;
    right: 0;
    width: 0;
    bottom: -5px;
    background: rgb(32, 20, 182); /* filthy blue */
    height: 3px;

    transition-property: width;
    transition-duration: .2s;
    transition-timing-function: ease-out;
    -moz-transition-property: width;
    -moz-transition-duration: .2s;
    -moz-transition-timing-function: ease-out;
    -o-transition-property: width;
    -o-transition-duration: .2s;
    -o-transition-timing-function: ease-out;
    -webkit-transition-property: width;
    -webkit-transition-duration: .2s;
    -webkit-transition-timing-function: ease-out;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

.sub-content {
    text-align: center;
}

.sub-content h1, h2, h3, h4, h5, h6, a, p {
    margin: 1rem;
}

.sub-content:first-child {
    margin: 5rem 0 0 0;
}

.sub-content {
    margin: 2rem 0 0 0;
}

/* remove extra space on the sub-content with link so transition does not cover extra space */
.sub-content h2, a {
    margin: 1rem 0;
}